@(sunInfo: model.SunInfo, temperature: Double, requests: Int)
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link rel="shortcut icon" type="image/png"
           href="@routes.Application.versioned("images/favicon.png")">
    </head>
    <body>
        <h1>Munich info portal:</h1>

        <div>Sunrise time: @sunInfo.sunrise</div>
        <div>Sunset time: @sunInfo.sunset</div>
        <div>Current temp: @temperature</div>
        <div>Requests: @requests</div>
    </body>
</html>
